{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Подключение CSS для Swiper -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

<!-- Подключение JavaScript для Swiper -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

 <section class="chocolate_section layout_padding">
  <div class="container">
      <div class="heading_container">
          <h2>
              Our seafood
          </h2>
          <p>
              Seafood saturates the body with useful minerals and vitamins - iron, phosphorus, nickel, copper, cobalt, iodine, manganese, vitamins A, B, D
          </p>
      </div>
  </div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
        {% for product in products %}
        <div class="swiper-slide">
            <div class="box">
                <div class="img-box">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                </div>
                <div class="detail-box">
                    <h6>
                        <span>{{ product.name }}</span>
                    </h6>
                    <h5>
                        ${{ product.price }}
                    </h5>
                    {% if product.user %}
                    <a href="mailto:{{ product.user }}">Email: {{ product.user }}</a>
                    {% else %}
                    <a href="{% url 'contact' %}">Contact Us</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
    
    <!-- Add Pagination -->
    
    
</div>


</section> 

<div>
  <div class="swiper-pagination"></div>
  <!-- Add Navigation -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div> 
<script>
  document.addEventListener('DOMContentLoaded', function () {
      var swiper = new Swiper('.swiper-container', {
          slidesPerView: 3,
          spaceBetween: 30,
          pagination: {
              el: '.swiper-pagination',
              clickable: true,
          },
          navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
          },
      });
  });
  </script>
  

{% endblock %}

          

    <!-- end chocolate section -->

